img{
	max-width: 100%;
}

.quitar-float{
	float: none;
}

.espacio-arriba{
	margin-top: 200px;
}
h2{
	margin-top: 0px;
	font-size: 25px;
}

.indie{
	font-family: 'Indie Flower', cursive;
}
.sans{
	font-family: 'PT Sans', sans-serif;
}

.dosis{
	
	font-family: 'Dosis', sans-serif;
}
.grande{
	font-size: 4em
}

body{
	background:#F0F1F2;
	font-family: 'Lato', sans-serif;
}

.verde{
	color: #1F7399;
}

a{
	color: #CC6675;
}

.piel{
	color: #E8C7C0;
}

.espacio-derecha{
	margin-right:1em;
}

.no-lista li{
	text-decoration: none;
	list-style-type: none;
}

.no-lista{
	margin:0px;
	padding:0px;

}

.se-gris{
	background-color: #CC6675;
}
.padding-largo{
	padding: 5px 10px;
}

.inline-block{
	float: none;
	display:inline-block;
	margin-right: -4px;
}

a,.mi-piel{
	color:#e8c7c0;
}

.oracion{
	font-size: 30px;
}

.vete-arriba{
	vertical-align: top;
}

.mediano{
	font-size: 1.5em;
}

.retraso-1{
	animation-delay:0.2s;
	-moz-animation-delay:0.2s;
	-webkit-animation-delay:0.s;
}

.retraso-2{
	animate-delay:1s;
	-moz-animate-delay:1;
	-webkit-animate-delay:1;
}